.navbar {
  width: 100%;
  height: 80px;
  background-color: var(--theme);
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.linkContainer {
  display: flex;
  gap: 60px;
}

.navbarLink {
  color: var(--text);
  text-decoration: none;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 18px;
}

.navbarLink:hover {
  text-decoration: underline;
}

.burger {
  display: none;
  cursor: pointer;
}

.icons{
    width: 40px;
    height: 40px;
}
/* Responsive styles */
@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .linkContainer {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: var(--theme);
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    display: none;
    z-index: 10;
  }

  .showMenu {
    display: flex;
  }
}
